.dragscroll {
  -webkit-overflow-scrolling: touch;
}
.searchForm_mark {
  background-color: #ff0;
}
.searchForm_hidden_sp {
  display: none;
}
@media (min-width: 1024px) {
  .searchForm_hidden_sp {
    display: inline-block;
  }
}
.searchForm_searchBox * {
  box-sizing: border-box;
}
html:lang(ja) .searchForm_searchBox .searchForm_searchBox_query_input,
html :lang(ja) .searchForm_searchBox .searchForm_searchBox_query_input,
html:lang(ja-JP) .searchForm_searchBox .searchForm_searchBox_query_input,
html :lang(ja-JP) .searchForm_searchBox .searchForm_searchBox_query_input {
  background: #fff;
  background-size: 217px 16px;
}
html:lang(zn) .searchForm_searchBox .searchForm_searchBox_query_input,
html :lang(zn) .searchForm_searchBox .searchForm_searchBox_query_input,
html:lang(zn-CN) .searchForm_searchBox .searchForm_searchBox_query_input,
html :lang(zn-CN) .searchForm_searchBox .searchForm_searchBox_query_input {
  background: #fff;
  background-size: 217px 16px;
}
html :lang(en) .searchForm_searchBox .searchForm_searchBox_query_input,
html :lang(en-US) .searchForm_searchBox .searchForm_searchBox_query_input {
  background: #fff;
  background-size: 217px 16px;
}
html .searchForm_searchBox {
  background-color: #eee;
  margin-bottom: 1rem;
}
html .searchForm_searchBox .searchForm_searchBox_query_input {
  background: #fff;
  background-size: 217px 16px;
}
html
  .searchForm_searchBox.searchForm_searchBox_focusInput
  .searchForm_searchBox_query_input,
html
  .searchForm_searchBox.searchForm_searchBox_hasQuery
  .searchForm_searchBox_query_input {
  background-color: #fff;
  background-image: none;
}
.searchForm_searchBox_selects select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.25rem 0.45rem;
  padding-right: 1.5rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  border-radius: 3px;
  font-size: 1rem;
  color: #666;
  line-height: 1.2;
}
.searchForm_searchBox_selects select::-ms-expand {
  display: none;
}
.searchForm_searchBox_selects label {
  display: inline-block;
  position: relative;
  margin-bottom: 0.35rem;
}
.searchForm_searchBox_selects label:before {
  display: inline-block;
  width: 0.75rem;
  margin-left: 0.5rem;
  margin-right: 0.25rem;
  font-family: FontAwesome;
  font-size: 0.75rem;
}
.searchForm_searchBox_selects label:after {
  content: "\F0D7";
  font-family: FontAwesome;
  position: absolute;
  top: 4px;
  right: 6px;
  pointer-events: none;
  font-size: 9px;
}
.searchForm_searchBox_selects .searchForm_searchBox_doctype:before {
  content: "\F0F6";
}
.searchForm_searchBox_selects .searchForm_searchBox_category:before {
  content: "\F0C9";
}
.searchForm_searchBox_selects .searchForm_searchBox_sort:before {
  content: "\F160";
}
.searchForm_searchBox_selects .searchForm_searchBox_pagemax:before {
  content: "\F24D";
}
.searchForm_searchBox_selects .searchForm_searchBox_imgsize:before {
  content: "\F03E";
}
.searchForm_searchBox_items {
  display: -ms-flexbox;
  display: flex;
  padding: 0.35rem;
}
.searchForm_searchBox_items select::-ms-expand {
  display: none;
}
@media (max-width: 480px) {
  .searchForm_searchBox_misc label {
    padding-left: 2px;
    padding-right: 2px;
  }
  .searchForm_searchBox_misc label:after {
    right: 10px;
    font-size: 7px;
  }
}
.searchForm_searchBox_query_wrap {
  position: relative;
  flex-grow: 1;
  align-items: stretch;
}
.searchForm_searchBox_query_input {
  height: 100%;
  min-height: 100%;
  margin: 0;
  width: 100%;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 0;
  padding: 0.5rem 0 0.5rem 0.5rem;
}
.searchForm_searchBox_doctype {
  position: relative;
}
.searchForm_searchBox_doctype:after {
  content: "\F0D7";
  font-family: FontAwesome;
  position: absolute;
  top: 8px;
  right: 6px;
  pointer-events: none;
}
.searchForm_searchBox_doctype_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}
.searchForm_searchBox_doctype_select::-ms-expand {
  display: none;
}
.searchForm_searchBox_submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  background-color: #222;
  border: none;
  border-radius: 0 3px 3px 0;
  color: #eee;
  padding: 0 0.75rem;
}
.searchForm_searchBox_submit:before {
  content: "\F002";
  font-family: FontAwesome;
}
.searchForm_searchBox_submit span {
  display: none;
  margin-left: 0.35rem;
  margin-right: 0.35rem;
}
@media (min-width: 640px) {
  .searchForm_searchBox_submit:before {
    margin-left: 0.75rem;
  }
  .searchForm_searchBox_submit span {
    display: inline-block;
    margin-right: 0.75rem;
  }
}
.searchForm_searchBox_links .searchForm_searchBox_category,
.searchForm_searchBox_links .searchForm_searchBox_imgsize,
.searchForm_searchBox_links .searchForm_searchBox_pagemax,
.searchForm_searchBox_links .searchForm_searchBox_sort {
  padding: 0.25rem 0 0;
  border-bottom: 1px solid #ddd;
}
.searchForm_searchBox_links .searchForm_searchBox_imgsize {
  border-bottom: none;
}
.searchForm_searchBox_links .searchForm_searchBox_category_links,
.searchForm_searchBox_links .searchForm_searchBox_imgsize_links,
.searchForm_searchBox_links .searchForm_searchBox_pagemax_links,
.searchForm_searchBox_links .searchForm_searchBox_sort_links {
  display: flex;
  flex-wrap: wrap;
}
.searchForm_searchBox_links .searchForm_searchBox_category_links:after,
.searchForm_searchBox_links .searchForm_searchBox_category_links:before,
.searchForm_searchBox_links .searchForm_searchBox_imgsize_links:after,
.searchForm_searchBox_links .searchForm_searchBox_imgsize_links:before,
.searchForm_searchBox_links .searchForm_searchBox_pagemax_links:after,
.searchForm_searchBox_links .searchForm_searchBox_pagemax_links:before,
.searchForm_searchBox_links .searchForm_searchBox_sort_links:after,
.searchForm_searchBox_links .searchForm_searchBox_sort_links:before {
  display: inline-block;
}
.searchForm_searchBox_links .searchForm_searchBox_category_links div,
.searchForm_searchBox_links .searchForm_searchBox_imgsize_links div,
.searchForm_searchBox_links .searchForm_searchBox_pagemax_links div,
.searchForm_searchBox_links .searchForm_searchBox_sort_links div {
  display: block;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
  line-height: 175%;
}
.searchForm_searchBox_links .searchForm_searchBox_category_links div a,
.searchForm_searchBox_links .searchForm_searchBox_imgsize_links div a,
.searchForm_searchBox_links .searchForm_searchBox_pagemax_links div a,
.searchForm_searchBox_links .searchForm_searchBox_sort_links div a {
  display: inline-block;
  background-color: #ddd;
  padding: 0.125rem 0.5rem;
  border-radius: 3px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.searchForm_searchBox_links .searchForm_searchBox_category_links div a:hover,
.searchForm_searchBox_links .searchForm_searchBox_imgsize_links div a:hover,
.searchForm_searchBox_links .searchForm_searchBox_pagemax_links div a:hover,
.searchForm_searchBox_links .searchForm_searchBox_sort_links div a:hover {
  background-color: #999;
  color: #fff;
}
.searchForm_searchBox_links
  .searchForm_searchBox_category_links
  div
  a.searchForm_searchBox_link_current,
.searchForm_searchBox_links
  .searchForm_searchBox_imgsize_links
  div
  a.searchForm_searchBox_link_current,
.searchForm_searchBox_links
  .searchForm_searchBox_pagemax_links
  div
  a.searchForm_searchBox_link_current,
.searchForm_searchBox_links
  .searchForm_searchBox_sort_links
  div
  a.searchForm_searchBox_link_current {
  background-color: #666;
  color: #eee;
  cursor: default;
}
.searchForm_searchBox_links .searchForm_searchBox_category_link_0 a:after {
  content: "All";
}
.searchForm_searchBox_links .searchForm_searchBox_sort_link_0 a:after {
  content: "match";
}
.searchForm_searchBox_links .searchForm_searchBox_sort_link_1 a:after {
  content: "recent";
}
.searchForm_searchBox_links .searchForm_searchBox_imgsize_link_0 a:after {
  content: "none";
}
.searchForm_searchBox_links .searchForm_searchBox_imgsize_link_1 a:after {
  content: "small";
}
.searchForm_searchBox_links .searchForm_searchBox_imgsize_link_2 a:after {
  content: "medium";
}
.searchForm_searchBox_links .searchForm_searchBox_imgsize_link_3 a:after {
  content: "large";
}
html:lang(ja) .searchForm_searchBox_category_link_0 a:after,
html :lang(ja) .searchForm_searchBox_category_link_0 a:after,
html:lang(ja-JP) .searchForm_searchBox_category_link_0 a:after,
html :lang(ja-JP) .searchForm_searchBox_category_link_0 a:after {
  content: "\3059\3079\3066";
}
html:lang(ja) .searchForm_searchBox_sort_link_0 a:after,
html :lang(ja) .searchForm_searchBox_sort_link_0 a:after,
html:lang(ja-JP) .searchForm_searchBox_sort_link_0 a:after,
html :lang(ja-JP) .searchForm_searchBox_sort_link_0 a:after {
  content: "\30DE\30C3\30C1\9806";
}
html:lang(ja) .searchForm_searchBox_sort_link_1 a:after,
html :lang(ja) .searchForm_searchBox_sort_link_1 a:after,
html:lang(ja-JP) .searchForm_searchBox_sort_link_1 a:after,
html :lang(ja-JP) .searchForm_searchBox_sort_link_1 a:after {
  content: "\65B0\7740\9806";
}
html:lang(ja) .searchForm_searchBox_imgsize_link_0 a:after,
html :lang(ja) .searchForm_searchBox_imgsize_link_0 a:after,
html:lang(ja-JP) .searchForm_searchBox_imgsize_link_0 a:after,
html :lang(ja-JP) .searchForm_searchBox_imgsize_link_0 a:after {
  content: "\7121";
}
html:lang(ja) .searchForm_searchBox_imgsize_link_1 a:after,
html :lang(ja) .searchForm_searchBox_imgsize_link_1 a:after,
html:lang(ja-JP) .searchForm_searchBox_imgsize_link_1 a:after,
html :lang(ja-JP) .searchForm_searchBox_imgsize_link_1 a:after {
  content: "\5C0F";
}
html:lang(ja) .searchForm_searchBox_imgsize_link_2 a:after,
html :lang(ja) .searchForm_searchBox_imgsize_link_2 a:after,
html:lang(ja-JP) .searchForm_searchBox_imgsize_link_2 a:after,
html :lang(ja-JP) .searchForm_searchBox_imgsize_link_2 a:after {
  content: "\4E2D";
}
html:lang(ja) .searchForm_searchBox_imgsize_link_3 a:after,
html :lang(ja) .searchForm_searchBox_imgsize_link_3 a:after,
html:lang(ja-JP) .searchForm_searchBox_imgsize_link_3 a:after,
html :lang(ja-JP) .searchForm_searchBox_imgsize_link_3 a:after {
  content: "\5927";
}
html:lang(zn) .searchForm_searchBox_category_link_0 a:after,
html :lang(zn) .searchForm_searchBox_category_link_0 a:after,
html:lang(zn-CN) .searchForm_searchBox_category_link_0 a:after,
html :lang(zn-CN) .searchForm_searchBox_category_link_0 a:after {
  content: "\5168\90E8";
}
html:lang(zn) .searchForm_searchBox_sort_link_0 a:after,
html :lang(zn) .searchForm_searchBox_sort_link_0 a:after,
html:lang(zn-CN) .searchForm_searchBox_sort_link_0 a:after,
html :lang(zn-CN) .searchForm_searchBox_sort_link_0 a:after {
  content: "Relevant";
}
html:lang(zn) .searchForm_searchBox_sort_link_1 a:after,
html :lang(zn) .searchForm_searchBox_sort_link_1 a:after,
html:lang(zn-CN) .searchForm_searchBox_sort_link_1 a:after,
html :lang(zn-CN) .searchForm_searchBox_sort_link_1 a:after {
  content: "Latest";
}
html:lang(zn) .searchForm_searchBox_imgsize_link_0 a:after,
html :lang(zn) .searchForm_searchBox_imgsize_link_0 a:after,
html:lang(zn-CN) .searchForm_searchBox_imgsize_link_0 a:after,
html :lang(zn-CN) .searchForm_searchBox_imgsize_link_0 a:after {
  content: "\5173";
}
html:lang(zn) .searchForm_searchBox_imgsize_link_1 a:after,
html :lang(zn) .searchForm_searchBox_imgsize_link_1 a:after,
html:lang(zn-CN) .searchForm_searchBox_imgsize_link_1 a:after,
html :lang(zn-CN) .searchForm_searchBox_imgsize_link_1 a:after {
  content: "\5C0F";
}
html:lang(zn) .searchForm_searchBox_imgsize_link_2 a:after,
html :lang(zn) .searchForm_searchBox_imgsize_link_2 a:after,
html:lang(zn-CN) .searchForm_searchBox_imgsize_link_2 a:after,
html :lang(zn-CN) .searchForm_searchBox_imgsize_link_2 a:after {
  content: "\4E2D";
}
html:lang(zn) .searchForm_searchBox_imgsize_link_3 a:after,
html :lang(zn) .searchForm_searchBox_imgsize_link_3 a:after,
html:lang(zn-CN) .searchForm_searchBox_imgsize_link_3 a:after,
html :lang(zn-CN) .searchForm_searchBox_imgsize_link_3 a:after {
  content: "\5927";
}
html :lang(en) .searchForm_searchBox_category_link_0 a:after,
html :lang(en-US) .searchForm_searchBox_category_link_0 a:after {
  content: "All";
}
html :lang(en) .searchForm_searchBox_sort_link_0 a:after,
html :lang(en-US) .searchForm_searchBox_sort_link_0 a:after {
  content: "match";
}
html :lang(en) .searchForm_searchBox_sort_link_1 a:after,
html :lang(en-US) .searchForm_searchBox_sort_link_1 a:after {
  content: "recent";
}
html :lang(en) .searchForm_searchBox_imgsize_link_0 a:after,
html :lang(en-US) .searchForm_searchBox_imgsize_link_0 a:after {
  content: "none";
}
html :lang(en) .searchForm_searchBox_imgsize_link_1 a:after,
html :lang(en-US) .searchForm_searchBox_imgsize_link_1 a:after {
  content: "small";
}
html :lang(en) .searchForm_searchBox_imgsize_link_2 a:after,
html :lang(en-US) .searchForm_searchBox_imgsize_link_2 a:after {
  content: "medium";
}
html :lang(en) .searchForm_searchBox_imgsize_link_3 a:after,
html :lang(en-US) .searchForm_searchBox_imgsize_link_3 a:after {
  content: "large";
}
.searchForm_searchBox_links .searchForm_searchBox_category_links,
.searchForm_searchBox_links .searchForm_searchBox_imgsize_links,
.searchForm_searchBox_links .searchForm_searchBox_pagemax_links,
.searchForm_searchBox_links .searchForm_searchBox_sort_links {
  padding-left: 2.5rem;
  position: relative;
  font-size: 0.8rem;
}
.searchForm_searchBox_links .searchForm_searchBox_category_links:before,
.searchForm_searchBox_links .searchForm_searchBox_imgsize_links:before,
.searchForm_searchBox_links .searchForm_searchBox_pagemax_links:before,
.searchForm_searchBox_links .searchForm_searchBox_sort_links:before {
  width: 1.75em;
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  left: 0.5rem;
}
.searchForm_searchBox_links .searchForm_searchBox_category_links:before {
  content: "\F0C9";
}
.searchForm_searchBox_links .searchForm_searchBox_sort_links:before {
  content: "\F160";
}
.searchForm_searchBox_links .searchForm_searchBox_pagemax_links:before {
  content: "\F24D";
}
.searchForm_searchBox_links .searchForm_searchBox_imgsize_links:before {
  content: "\F03E";
}
@media (min-width: 640px) {
  .searchForm_searchBox_links .searchForm_searchBox_category_links,
  .searchForm_searchBox_links .searchForm_searchBox_imgsize_links,
  .searchForm_searchBox_links .searchForm_searchBox_pagemax_links,
  .searchForm_searchBox_links .searchForm_searchBox_sort_links {
    padding-left: 7rem;
    position: relative;
  }
  .searchForm_searchBox_links .searchForm_searchBox_category_links:after,
  .searchForm_searchBox_links .searchForm_searchBox_imgsize_links:after,
  .searchForm_searchBox_links .searchForm_searchBox_pagemax_links:after,
  .searchForm_searchBox_links .searchForm_searchBox_sort_links:after {
    position: absolute;
    left: 2rem;
    width: 6em;
    font-size: 0.75rem;
  }
  .searchForm_searchBox_links .searchForm_searchBox_category_links:after {
    content: "category:";
  }
  .searchForm_searchBox_links .searchForm_searchBox_sort_links:after {
    content: "sort policy:";
  }
  .searchForm_searchBox_links .searchForm_searchBox_pagemax_links:after {
    content: "pagemax:";
  }
  .searchForm_searchBox_links .searchForm_searchBox_imgsize_links:after {
    content: "imgsize:";
  }
  .searchForm_searchBox_links
    .searchForm_searchBox_category_link_0
    + span:before {
    content: "All";
  }
  html:lang(ja) .searchForm_searchBox_category_links:after,
  html :lang(ja) .searchForm_searchBox_category_links:after,
  html:lang(ja-JP) .searchForm_searchBox_category_links:after,
  html :lang(ja-JP) .searchForm_searchBox_category_links:after {
    content: "\30AB\30C6\30B4\30EA\30FC:";
  }
  html:lang(ja) .searchForm_searchBox_sort_links:after,
  html :lang(ja) .searchForm_searchBox_sort_links:after,
  html:lang(ja-JP) .searchForm_searchBox_sort_links:after,
  html :lang(ja-JP) .searchForm_searchBox_sort_links:after {
    content: "\8868\793A\9806:";
  }
  html:lang(ja) .searchForm_searchBox_pagemax_links:after,
  html :lang(ja) .searchForm_searchBox_pagemax_links:after,
  html:lang(ja-JP) .searchForm_searchBox_pagemax_links:after,
  html :lang(ja-JP) .searchForm_searchBox_pagemax_links:after {
    content: "\7D50\679C\4EF6\6570:";
  }
  html:lang(ja) .searchForm_searchBox_imgsize_links:after,
  html :lang(ja) .searchForm_searchBox_imgsize_links:after,
  html:lang(ja-JP) .searchForm_searchBox_imgsize_links:after,
  html :lang(ja-JP) .searchForm_searchBox_imgsize_links:after {
    content: "\753B\50CF\30B5\30A4\30BA:";
  }
  html:lang(ja) .searchForm_searchBox_category_link_0 + span:after,
  html :lang(ja) .searchForm_searchBox_category_link_0 + span:after,
  html:lang(ja-JP) .searchForm_searchBox_category_link_0 + span:after,
  html :lang(ja-JP) .searchForm_searchBox_category_link_0 + span:after {
    content: "\3059\3079\3066";
  }
  html:lang(zn) .searchForm_searchBox_category_links:after,
  html :lang(zn) .searchForm_searchBox_category_links:after,
  html:lang(zn-CN) .searchForm_searchBox_category_links:after,
  html :lang(zn-CN) .searchForm_searchBox_category_links:after {
    content: "\641C\7D22\8303\56F4:";
  }
  html:lang(zn) .searchForm_searchBox_sort_links:after,
  html :lang(zn) .searchForm_searchBox_sort_links:after,
  html:lang(zn-CN) .searchForm_searchBox_sort_links:after,
  html :lang(zn-CN) .searchForm_searchBox_sort_links:after {
    content: "sort policy:";
  }
  html:lang(zn) .searchForm_searchBox_pagemax_links:after,
  html :lang(zn) .searchForm_searchBox_pagemax_links:after,
  html:lang(zn-CN) .searchForm_searchBox_pagemax_links:after,
  html :lang(zn-CN) .searchForm_searchBox_pagemax_links:after {
    content: "\663E\793A\4EF6\6570:";
  }
  html:lang(zn) .searchForm_searchBox_imgsize_links:after,
  html :lang(zn) .searchForm_searchBox_imgsize_links:after,
  html:lang(zn-CN) .searchForm_searchBox_imgsize_links:after,
  html :lang(zn-CN) .searchForm_searchBox_imgsize_links:after {
    content: "\56FE\7247\663E\793A:";
  }
  html:lang(zn) .searchForm_searchBox_category_link_0 + span:after,
  html :lang(zn) .searchForm_searchBox_category_link_0 + span:after,
  html:lang(zn-CN) .searchForm_searchBox_category_link_0 + span:after,
  html :lang(zn-CN) .searchForm_searchBox_category_link_0 + span:after {
    content: "\5168\90E8";
  }
  html :lang(en) .searchForm_searchBox_category_links:after,
  html :lang(en-US) .searchForm_searchBox_category_links:after {
    content: "category:";
  }
  html :lang(en) .searchForm_searchBox_sort_links:after,
  html :lang(en-US) .searchForm_searchBox_sort_links:after {
    content: "sort policy:";
  }
  html :lang(en) .searchForm_searchBox_pagemax_links:after,
  html :lang(en-US) .searchForm_searchBox_pagemax_links:after {
    content: "pagemax:";
  }
  html :lang(en) .searchForm_searchBox_imgsize_links:after,
  html :lang(en-US) .searchForm_searchBox_imgsize_links:after {
    content: "imgsize:";
  }
  html :lang(en) .searchForm_searchBox_category_link_0 + span:before,
  html :lang(en-US) .searchForm_searchBox_category_link_0 + span:before {
    content: "All";
  }
}
.searchForm_searchBox_doctype_select {
  line-height: 1.2;
}
.searchForm_searchBox_doctype_mod select {
  outline: none;
  box-shadow: 0 0 2px 0 rgba(204, 0, 0, 0.9);
  border: 1px solid #c00;
}
@media (max-width: 639px) {
  .searchForm_searchBox_useSelects
    .searchForm_searchBox_selects
    .searchForm_searchBox_category {
    width: 100%;
    padding-left: 1.5rem;
  }
  .searchForm_searchBox_useSelects
    .searchForm_searchBox_selects
    .searchForm_searchBox_category:before {
    position: absolute;
    top: 9px;
    left: 0;
  }
  .searchForm_searchBox_useSelects
    .searchForm_searchBox_selects
    .searchForm_searchBox_category:after {
    right: 12px;
  }
  .searchForm_searchBox_useSelects .searchForm_searchBox_category_select {
    width: 99%;
  }
}
@media (min-width: 640px) {
  .searchForm_searchBox_selects {
    display: -ms-flexbox;
    display: flex;
  }
}
.searchForm_searchBox_useToggle .searchForm_searchBox_misc {
  display: none;
}
.searchForm_searchBox_useToggle.searchForm_searchBox_useToggle_show
  .searchForm_searchBox_misc {
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.075);
  padding-top: 0.35rem;
  animation: animationFrames linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}
@keyframes animationFrames {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes animationFrames {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 480px) {
  .searchForm_searchBox_useToggle_show .searchForm_searchBox_misc label:after {
    top: 28px;
  }
  .searchForm_searchBox_useToggle_show .searchForm_searchBox_misc label select {
    width: 100%;
  }
}
.searchForm_searchBox_useToggle {
  position: relative;
}
.searchForm_searchBox_useToggle .searchForm_searchBox_selects {
  display: block;
}
.searchForm_searchBox_useToggle
  .searchForm_searchBox_selects
  .searchForm_searchBox_toggle {
  position: absolute;
  top: 48px;
  right: 0;
}
.searchForm_searchBox_useToggle
  .searchForm_searchBox_selects
  .searchForm_searchBox_toggle
  a {
  display: inline-block;
  width: 1.5rem;
  height: 1.75rem;
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #111;
}
.searchForm_searchBox_useToggle
  .searchForm_searchBox_selects
  .searchForm_searchBox_toggle
  a:before {
  content: "\F013";
  font-family: FontAwesome;
  position: absolute;
  top: 3px;
  left: 0;
}
.searchForm_searchBox_useToggle
  .searchForm_searchBox_selects
  .searchForm_searchBox_toggle
  a:after {
  content: "\F0D7";
  font-family: FontAwesome;
  position: absolute;
  top: 3px;
  right: 0;
  font-size: 7px;
}
.searchForm_searchBox_useToggle
  .searchForm_searchBox_selects
  .searchForm_searchBox_category {
  width: 280px;
  width: calc(100% - 48px);
}
.searchForm_searchBox_useToggle
  .searchForm_searchBox_selects
  .searchForm_searchBox_category:after {
  right: 10%;
}
.searchForm_searchBox_useToggle
  .searchForm_searchBox_selects
  .searchForm_searchBox_category_select {
  width: 90%;
}
.searchForm_organic_doc {
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 639px) {
  .searchForm_organic_doc_body {
    height: 3.25rem;
    margin-bottom: 0;
    overflow: hidden;
  }
  .searchForm_organic_doc_url_wrapper {
    display: none;
  }
}
.searchForm_searchBox_suggest_items {
  position: absolute;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  list-style-type: none;
  padding: 0 1px 1px;
  border-width: 0 1px 1px;
  border-color: silver;
  border-style: solid;
  z-index: 5;
}
.searchForm_searchBox_suggest_items li {
  border-top: 1px dotted silver;
}
.searchForm_searchBox_suggest_items li:first-child {
  border-top: none;
}
.searchForm_searchBox_suggest_items a {
  display: inline-block;
  width: 100%;
  padding: 2px;
  text-decoration: none;
  color: #fff;
}
.searchForm_searchBox_suggest_item_cur {
  background-color: rgba(80, 80, 80, 0.8);
}
.searchForm_zubaken_wrapper * {
  box-sizing: border-box;
}
.searchForm_zubaken_wrapper {
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}
.searchForm_zubaken_wrapper.mf_imgsize_1 .searchForm_zubaken_image img {
  max-width: 98px;
  max-height: 74px;
}
.searchForm_zubaken_wrapper.mf_imgsize_2 .searchForm_zubaken_image img {
  max-width: 122px;
  max-height: 92px;
}
.searchForm_zubaken_wrapper.mf_imgsize_3 .searchForm_zubaken_image img {
  max-width: 202px;
  max-height: 152px;
}
.searchForm_zubaken_header {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1rem 0 0.75rem;
}
.searchForm_zubaken {
  background-color: #eee;
  overflow: hidden;
  width: 100%;
  overflow-x: auto;
}
.searchForm_zubaken_items {
  width: 100%;
  margin-left: 0;
  padding: 0 0 0 1rem;
  display: flex;
  -webkit-overflow-scrolling: touch;
}
.searchForm_zubaken_item {
  list-style: none;
  position: relative;
  padding: 0 0.5rem;
  text-align: center;
}
.searchForm_zubaken_item:hover .searchForm_zubaken_image img {
  opacity: 0.5;
  position: relative;
}
.searchForm_zubaken_title_wrapper {
  width: 100%;
  overflow-x: hidden;
}
.searchForm_zubaken_title {
  margin-bottom: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 11px;
}
.searchForm_zubaken_title:before {
  vertical-align: middle;
  margin-right: 0.5rem;
}
@media (min-width: 640px) {
  .searchForm_zubaken_image img {
    border: 1px solid #ddd;
  }
}
.searchForm_zubaken_items_ico {
  padding: 1rem;
  position: absolute;
  top: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: FontAwesome;
  color: #fff;
}
.searchForm_zubaken_items_ico_before {
  position: absolute;
  left: 0;
}
.searchForm_zubaken_items_ico_before:before {
  content: "\F053";
}
.searchForm_zubaken_items_ico_after {
  position: absolute;
  right: 0;
}
.searchForm_zubaken_items_ico_after:after {
  content: "\F054";
}
.searchForm_zubaken_uri {
  display: none;
  width: 75%;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 80%;
  word-break: break-all;
  line-height: 120%;
}
.searchForm_organic_wrapper * {
  box-sizing: border-box;
}
.searchForm_organic_wrapper.mf_imgsize_1 .searchForm_organic_doc_img img {
  max-width: 98px;
  max-height: 74px;
}
.searchForm_organic_wrapper.mf_imgsize_2 .searchForm_organic_doc_img img {
  max-width: 122px;
  max-height: 92px;
}
.searchForm_organic_wrapper.mf_imgsize_3 .searchForm_organic_doc_img img {
  max-width: 202px;
  max-height: 152px;
}
.searchForm_pageTitle {
  font-size: 1.5rem;
  margin: 0.5rem 0 0.5rem 1rem;
}
.searchForm_organic_header_wrapper {
  flex-direction: row;
  margin-left: 1rem;
}
.searchForm_condition,
.searchForm_organic_header,
.searchForm_organic_header_wrapper,
.searchForm_organic_nums {
  display: -ms-flexbox;
  display: flex;
}
.searchForm_condition {
  border: 1px solid #ddd;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  font-size: 14px;
}
.searchForm_condition:before {
  content: "Selected condition";
  display: inline-block;
  padding: 1px 0.5rem;
  margin-right: 0.5rem;
  background-color: #eee;
  font-size: 11px;
  vertical-align: text-top;
}
.searchForm_condition_category,
.searchForm_condition_imgsize,
.searchForm_condition_pagemax,
.searchForm_condition_sort {
  margin-right: 0.5rem;
}
.searchForm_condition_category:before,
.searchForm_condition_imgsize:before,
.searchForm_condition_pagemax:before,
.searchForm_condition_sort:before {
  font-size: 12px;
  color: #999;
}
.searchForm_condition_category span,
.searchForm_condition_imgsize span,
.searchForm_condition_pagemax span,
.searchForm_condition_sort span {
  padding-right: 0.5rem;
}
.searchForm_condition_category span:before,
.searchForm_condition_imgsize span:before,
.searchForm_condition_pagemax span:before,
.searchForm_condition_sort span:before {
  content: "\203A";
  color: #999;
  margin-left: 0.35rem;
  margin-right: 0.25rem;
}
.searchForm_condition_category:before {
  content: "category";
}
.searchForm_condition_sort:before {
  content: "sort policy";
}
.searchForm_condition_pagemax:before {
  content: "pagemax";
}
html:lang(ja) .searchForm_condition_category:before,
html :lang(ja) .searchForm_condition_category:before,
html:lang(ja-JP) .searchForm_condition_category:before,
html :lang(ja-JP) .searchForm_condition_category:before {
  content: "\30AB\30C6\30B4\30EA\30FC";
}
html:lang(ja) .searchForm_condition_sort:before,
html :lang(ja) .searchForm_condition_sort:before,
html:lang(ja-JP) .searchForm_condition_sort:before,
html :lang(ja-JP) .searchForm_condition_sort:before {
  content: "\30BD\30FC\30C8\9806\5E8F";
}
html:lang(ja) .searchForm_condition_pagemax:before,
html :lang(ja) .searchForm_condition_pagemax:before,
html:lang(ja-JP) .searchForm_condition_pagemax:before,
html :lang(ja-JP) .searchForm_condition_pagemax:before {
  content: "\7D50\679C\4EF6\6570";
}
html:lang(zn) .searchForm_condition_category:before,
html :lang(zn) .searchForm_condition_category:before,
html:lang(zn-CN) .searchForm_condition_category:before,
html :lang(zn-CN) .searchForm_condition_category:before {
  content: "\641C\7D22\8303\56F4";
}
html:lang(zn) .searchForm_condition_sort:before,
html :lang(zn) .searchForm_condition_sort:before,
html:lang(zn-CN) .searchForm_condition_sort:before,
html :lang(zn-CN) .searchForm_condition_sort:before {
  content: "sort policy";
}
html:lang(zn) .searchForm_condition_pagemax:before,
html :lang(zn) .searchForm_condition_pagemax:before,
html:lang(zn-CN) .searchForm_condition_pagemax:before,
html :lang(zn-CN) .searchForm_condition_pagemax:before {
  content: "\663E\793A\4EF6\6570";
}
html :lang(zn) .searchForm_condition_category:before,
html :lang(zn-CN) .searchForm_condition_category:before {
  content: "category";
}
html :lang(zn) .searchForm_condition_sort:before,
html :lang(zn-CN) .searchForm_condition_sort:before {
  content: "sort policy";
}
html :lang(zn) .searchForm_condition_pagemax:before,
html :lang(zn-CN) .searchForm_condition_pagemax:before {
  content: "pagemax";
}
.searchForm_organic_range_from,
.searchForm_organic_range_to,
.searchForm_organic_total,
.searchForm_query {
  font-weight: 600;
}
.searchForm_organic_range_from:after,
.searchForm_organic_range_from:before,
.searchForm_organic_range_to:after,
.searchForm_organic_range_to:before,
.searchForm_organic_total:after,
.searchForm_organic_total:before,
.searchForm_query:after,
.searchForm_query:before {
  font-weight: 400;
  font-size: 0.85rem;
  color: #666;
}
.searchForm_query {
  margin: 0 0.25rem;
}
.searchForm_query:before {
  content: 'for " ';
}
.searchForm_query:after {
  content: ' "';
}
.searchForm_organic_total:before {
  content: "of about";
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.searchForm_organic_total:after {
  margin-left: 0.5rem;
}
.searchForm_organic_range_from:before {
  content: "Results ";
}
.searchForm_organic_range_from:after {
  content: " - ";
}
html:lang(ja) .searchForm_organic_header,
html :lang(ja) .searchForm_organic_header,
html:lang(ja-JP) .searchForm_organic_header,
html :lang(ja-JP) .searchForm_organic_header,
html:lang(zn) .searchForm_organic_header,
html :lang(zn) .searchForm_organic_header,
html:lang(zn-CN) .searchForm_organic_header,
html :lang(zn-CN) .searchForm_organic_header {
  flex-direction: column-reverse;
}
html:lang(ja) .searchForm_organic_nums,
html :lang(ja) .searchForm_organic_nums,
html:lang(ja-JP) .searchForm_organic_nums,
html :lang(ja-JP) .searchForm_organic_nums,
html:lang(zn) .searchForm_organic_nums,
html :lang(zn) .searchForm_organic_nums,
html:lang(zn-CN) .searchForm_organic_nums,
html :lang(zn-CN) .searchForm_organic_nums {
  flex-direction: row-reverse;
}
html:lang(ja) .searchForm_organic_range_from,
html :lang(ja) .searchForm_organic_range_from,
html:lang(ja) .searchForm_organic_range_to,
html :lang(ja) .searchForm_organic_range_to,
html:lang(ja) .searchForm_organic_total,
html :lang(ja) .searchForm_organic_total,
html:lang(ja) .searchForm_query,
html :lang(ja) .searchForm_query,
html:lang(ja-JP) .searchForm_organic_range_from,
html :lang(ja-JP) .searchForm_organic_range_from,
html:lang(ja-JP) .searchForm_organic_range_to,
html :lang(ja-JP) .searchForm_organic_range_to,
html:lang(ja-JP) .searchForm_organic_total,
html :lang(ja-JP) .searchForm_organic_total,
html:lang(ja-JP) .searchForm_query,
html :lang(ja-JP) .searchForm_query,
html:lang(zn) .searchForm_organic_range_from,
html :lang(zn) .searchForm_organic_range_from,
html:lang(zn) .searchForm_organic_range_to,
html :lang(zn) .searchForm_organic_range_to,
html:lang(zn) .searchForm_organic_total,
html :lang(zn) .searchForm_organic_total,
html:lang(zn) .searchForm_query,
html :lang(zn) .searchForm_query,
html:lang(zn-CN) .searchForm_organic_range_from,
html :lang(zn-CN) .searchForm_organic_range_from,
html:lang(zn-CN) .searchForm_organic_range_to,
html :lang(zn-CN) .searchForm_organic_range_to,
html:lang(zn-CN) .searchForm_organic_total,
html :lang(zn-CN) .searchForm_organic_total,
html:lang(zn-CN) .searchForm_query,
html :lang(zn-CN) .searchForm_query {
  font-size: 1rem;
}
html:lang(ja) .searchForm_organic_range_from:after,
html :lang(ja) .searchForm_organic_range_from:after,
html:lang(ja) .searchForm_organic_range_from:before,
html :lang(ja) .searchForm_organic_range_from:before,
html:lang(ja) .searchForm_organic_range_to:after,
html :lang(ja) .searchForm_organic_range_to:after,
html:lang(ja) .searchForm_organic_range_to:before,
html :lang(ja) .searchForm_organic_range_to:before,
html:lang(ja) .searchForm_organic_total:after,
html :lang(ja) .searchForm_organic_total:after,
html:lang(ja) .searchForm_organic_total:before,
html :lang(ja) .searchForm_organic_total:before,
html:lang(ja) .searchForm_query:after,
html :lang(ja) .searchForm_query:after,
html:lang(ja) .searchForm_query:before,
html :lang(ja) .searchForm_query:before,
html:lang(ja-JP) .searchForm_organic_range_from:after,
html :lang(ja-JP) .searchForm_organic_range_from:after,
html:lang(ja-JP) .searchForm_organic_range_from:before,
html :lang(ja-JP) .searchForm_organic_range_from:before,
html:lang(ja-JP) .searchForm_organic_range_to:after,
html :lang(ja-JP) .searchForm_organic_range_to:after,
html:lang(ja-JP) .searchForm_organic_range_to:before,
html :lang(ja-JP) .searchForm_organic_range_to:before,
html:lang(ja-JP) .searchForm_organic_total:after,
html :lang(ja-JP) .searchForm_organic_total:after,
html:lang(ja-JP) .searchForm_organic_total:before,
html :lang(ja-JP) .searchForm_organic_total:before,
html:lang(ja-JP) .searchForm_query:after,
html :lang(ja-JP) .searchForm_query:after,
html:lang(ja-JP) .searchForm_query:before,
html :lang(ja-JP) .searchForm_query:before,
html:lang(zn) .searchForm_organic_range_from:after,
html :lang(zn) .searchForm_organic_range_from:after,
html:lang(zn) .searchForm_organic_range_from:before,
html :lang(zn) .searchForm_organic_range_from:before,
html:lang(zn) .searchForm_organic_range_to:after,
html :lang(zn) .searchForm_organic_range_to:after,
html:lang(zn) .searchForm_organic_range_to:before,
html :lang(zn) .searchForm_organic_range_to:before,
html:lang(zn) .searchForm_organic_total:after,
html :lang(zn) .searchForm_organic_total:after,
html:lang(zn) .searchForm_organic_total:before,
html :lang(zn) .searchForm_organic_total:before,
html:lang(zn) .searchForm_query:after,
html :lang(zn) .searchForm_query:after,
html:lang(zn) .searchForm_query:before,
html :lang(zn) .searchForm_query:before,
html:lang(zn-CN) .searchForm_organic_range_from:after,
html :lang(zn-CN) .searchForm_organic_range_from:after,
html:lang(zn-CN) .searchForm_organic_range_from:before,
html :lang(zn-CN) .searchForm_organic_range_from:before,
html:lang(zn-CN) .searchForm_organic_range_to:after,
html :lang(zn-CN) .searchForm_organic_range_to:after,
html:lang(zn-CN) .searchForm_organic_range_to:before,
html :lang(zn-CN) .searchForm_organic_range_to:before,
html:lang(zn-CN) .searchForm_organic_total:after,
html :lang(zn-CN) .searchForm_organic_total:after,
html:lang(zn-CN) .searchForm_organic_total:before,
html :lang(zn-CN) .searchForm_organic_total:before,
html:lang(zn-CN) .searchForm_query:after,
html :lang(zn-CN) .searchForm_query:after,
html:lang(zn-CN) .searchForm_query:before,
html :lang(zn-CN) .searchForm_query:before {
  font-size: 0.75rem;
}
html:lang(ja) .searchForm_query,
html :lang(ja) .searchForm_query,
html:lang(ja-JP) .searchForm_query,
html :lang(ja-JP) .searchForm_query,
html:lang(zn) .searchForm_query,
html :lang(zn) .searchForm_query,
html:lang(zn-CN) .searchForm_query,
html :lang(zn-CN) .searchForm_query {
  margin-left: 0;
  padding: 0;
}
html:lang(ja) .searchForm_query:before,
html :lang(ja) .searchForm_query:before,
html:lang(ja-JP) .searchForm_query:before,
html :lang(ja-JP) .searchForm_query:before,
html:lang(zn) .searchForm_query:before,
html :lang(zn) .searchForm_query:before,
html:lang(zn-CN) .searchForm_query:before,
html :lang(zn-CN) .searchForm_query:before {
  content: "\300C";
  font-size: 1rem;
}
html:lang(ja) .searchForm_query:after,
html :lang(ja) .searchForm_query:after,
html:lang(ja-JP) .searchForm_query:after,
html :lang(ja-JP) .searchForm_query:after,
html:lang(zn) .searchForm_query:after,
html :lang(zn) .searchForm_query:after,
html:lang(zn-CN) .searchForm_query:after,
html :lang(zn-CN) .searchForm_query:after {
  content: "\300D\306E\691C\7D22\7D50\679C";
}
html:lang(ja) .searchForm_organic_total,
html :lang(ja) .searchForm_organic_total,
html:lang(ja-JP) .searchForm_organic_total,
html :lang(ja-JP) .searchForm_organic_total,
html:lang(zn) .searchForm_organic_total,
html :lang(zn) .searchForm_organic_total,
html:lang(zn-CN) .searchForm_organic_total,
html :lang(zn-CN) .searchForm_organic_total {
  float: left;
}
html:lang(ja) .searchForm_organic_total:before,
html :lang(ja) .searchForm_organic_total:before,
html:lang(ja-JP) .searchForm_organic_total:before,
html :lang(ja-JP) .searchForm_organic_total:before,
html:lang(zn) .searchForm_organic_total:before,
html :lang(zn) .searchForm_organic_total:before,
html:lang(zn-CN) .searchForm_organic_total:before,
html :lang(zn-CN) .searchForm_organic_total:before {
  content: "";
}
html:lang(ja) .searchForm_organic_total:after,
html :lang(ja) .searchForm_organic_total:after,
html:lang(ja-JP) .searchForm_organic_total:after,
html :lang(ja-JP) .searchForm_organic_total:after,
html:lang(zn) .searchForm_organic_total:after,
html :lang(zn) .searchForm_organic_total:after,
html:lang(zn-CN) .searchForm_organic_total:after,
html :lang(zn-CN) .searchForm_organic_total:after {
  content: " \4EF6\4E2D   ";
  margin-left: 0;
  margin-right: 0.5rem;
}
html:lang(ja) .searchForm_organic_range,
html :lang(ja) .searchForm_organic_range,
html:lang(ja-JP) .searchForm_organic_range,
html :lang(ja-JP) .searchForm_organic_range,
html:lang(zn) .searchForm_organic_range,
html :lang(zn) .searchForm_organic_range,
html:lang(zn-CN) .searchForm_organic_range,
html :lang(zn-CN) .searchForm_organic_range {
  float: left;
}
html:lang(ja) .searchForm_organic_range_from:before,
html :lang(ja) .searchForm_organic_range_from:before,
html:lang(ja-JP) .searchForm_organic_range_from:before,
html :lang(ja-JP) .searchForm_organic_range_from:before,
html:lang(zn) .searchForm_organic_range_from:before,
html :lang(zn) .searchForm_organic_range_from:before,
html:lang(zn-CN) .searchForm_organic_range_from:before,
html :lang(zn-CN) .searchForm_organic_range_from:before {
  content: " ";
}
html:lang(ja) .searchForm_organic_range_from:after,
html :lang(ja) .searchForm_organic_range_from:after,
html:lang(ja-JP) .searchForm_organic_range_from:after,
html :lang(ja-JP) .searchForm_organic_range_from:after,
html:lang(zn) .searchForm_organic_range_from:after,
html :lang(zn) .searchForm_organic_range_from:after,
html:lang(zn-CN) .searchForm_organic_range_from:after,
html :lang(zn-CN) .searchForm_organic_range_from:after {
  content: " - ";
}
html:lang(ja) .searchForm_organic_range_to:before,
html :lang(ja) .searchForm_organic_range_to:before,
html:lang(ja-JP) .searchForm_organic_range_to:before,
html :lang(ja-JP) .searchForm_organic_range_to:before,
html:lang(zn) .searchForm_organic_range_to:before,
html :lang(zn) .searchForm_organic_range_to:before,
html:lang(zn-CN) .searchForm_organic_range_to:before,
html :lang(zn-CN) .searchForm_organic_range_to:before {
  content: "";
}
html:lang(ja) .searchForm_organic_range_to:after,
html :lang(ja) .searchForm_organic_range_to:after,
html:lang(ja-JP) .searchForm_organic_range_to:after,
html :lang(ja-JP) .searchForm_organic_range_to:after,
html:lang(zn) .searchForm_organic_range_to:after,
html :lang(zn) .searchForm_organic_range_to:after,
html:lang(zn-CN) .searchForm_organic_range_to:after,
html :lang(zn-CN) .searchForm_organic_range_to:after {
  content: " \4EF6\307E\3067\3092\8868\793A";
}
html:lang(zn) .searchForm_query:before,
html :lang(zn) .searchForm_query:before,
html:lang(zn-CN) .searchForm_query:before,
html :lang(zn-CN) .searchForm_query:before {
  content: "";
}
html:lang(zn) .searchForm_query:after,
html :lang(zn) .searchForm_query:after,
html:lang(zn-CN) .searchForm_query:after,
html :lang(zn-CN) .searchForm_query:after {
  content: " \7684\641C\7D22\7ED3\679C";
}
html:lang(zn) .searchForm_organic_total:before,
html :lang(zn) .searchForm_organic_total:before,
html:lang(zn-CN) .searchForm_organic_total:before,
html :lang(zn-CN) .searchForm_organic_total:before {
  content: "\7EA6\4E3A   ";
}
html:lang(zn) .searchForm_organic_total:after,
html :lang(zn) .searchForm_organic_total:after,
html:lang(zn-CN) .searchForm_organic_total:after,
html :lang(zn-CN) .searchForm_organic_total:after {
  content: " \4EF6\FF0C\76F8\5173\7ED3\679C\4E3A   ";
}
html:lang(zn) .searchForm_organic_range_from:before,
html :lang(zn) .searchForm_organic_range_from:before,
html:lang(zn-CN) .searchForm_organic_range_from:before,
html :lang(zn-CN) .searchForm_organic_range_from:before {
  content: " ";
}
html:lang(zn) .searchForm_organic_range_from:after,
html :lang(zn) .searchForm_organic_range_from:after,
html:lang(zn-CN) .searchForm_organic_range_from:after,
html :lang(zn-CN) .searchForm_organic_range_from:after {
  content: " - ";
}
html:lang(zn) .searchForm_organic_range_to:before,
html :lang(zn) .searchForm_organic_range_to:before,
html:lang(zn-CN) .searchForm_organic_range_to:before,
html :lang(zn-CN) .searchForm_organic_range_to:before {
  content: "";
}
html:lang(zn) .searchForm_organic_range_to:after,
html :lang(zn) .searchForm_organic_range_to:after,
html:lang(zn-CN) .searchForm_organic_range_to:after,
html :lang(zn-CN) .searchForm_organic_range_to:after {
  content: " \4EF6\7ED3\679C";
}
html :lang(en) .searchForm_query,
html :lang(en-US) .searchForm_query {
  margin: 0 0.25rem;
}
html :lang(en) .searchForm_query:before,
html :lang(en-US) .searchForm_query:before {
  content: 'for " ';
}
html :lang(en) .searchForm_query:after,
html :lang(en-US) .searchForm_query:after {
  content: ' "';
}
html :lang(en) .searchForm_organic_total:before,
html :lang(en-US) .searchForm_organic_total:before {
  content: "of about";
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
html :lang(en) .searchForm_organic_total:after,
html :lang(en-US) .searchForm_organic_total:after {
  margin-left: 0.5rem;
}
html :lang(en) .searchForm_organic_range_from:before,
html :lang(en-US) .searchForm_organic_range_from:before {
  content: "Results ";
}
html :lang(en) .searchForm_organic_range_from:after,
html :lang(en-US) .searchForm_organic_range_from:after {
  content: " - ";
}
.searchForm_msk_item {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.searchForm_msk_item:after,
.searchForm_msk_item:before {
  font-size: 88%;
  color: #666;
}
.searchForm_msk_item:before {
  content: "Did you mean";
}
.searchForm_msk_item:after {
  content: "?";
}
html:lang(ja) .searchForm_msk_item:before,
html :lang(ja) .searchForm_msk_item:before,
html:lang(ja-JP) .searchForm_msk_item:before,
html :lang(ja-JP) .searchForm_msk_item:before {
  content: "\3082\3057\304B\3057\3066";
}
html:lang(ja) .searchForm_msk_item:after,
html :lang(ja) .searchForm_msk_item:after,
html:lang(ja-JP) .searchForm_msk_item:after,
html :lang(ja-JP) .searchForm_msk_item:after {
  content: "\306E\3053\3068\3067\3057\3087\3046\304B";
}
html:lang(zn) .searchForm_msk_item:before,
html :lang(zn) .searchForm_msk_item:before,
html:lang(zn-CN) .searchForm_msk_item:before,
html :lang(zn-CN) .searchForm_msk_item:before {
  content: "\60A8\662F\5426\5728\641C\7D22";
}
html:lang(zn) .searchForm_msk_item:after,
html :lang(zn) .searchForm_msk_item:after,
html:lang(zn-CN) .searchForm_msk_item:after,
html :lang(zn-CN) .searchForm_msk_item:after {
  content: "\FF1F";
}
html :lang(en) .searchForm_msk_item:before,
html :lang(en-US) .searchForm_msk_item:before {
  content: "Did you mean";
}
html :lang(en) .searchForm_msk_item:after,
html :lang(en-US) .searchForm_msk_item:after {
  content: "\FF1F";
}
.searchForm_organic_count_wrapper,
.searchForm_query_wrapper {
  display: inline-block;
  margin-left: 0.75rem;
}
.searchForm_organic_docs {
  margin-top: 0.75rem;
  margin-left: 0;
  padding-left: 0;
}
.searchForm_organic_docs > section:first-child {
  border-top: 1px solid #ddd;
}
.searchForm_organic_doc {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #ddd;
  list-style: none;
}
.searchForm_organic_doc:hover {
  background-color: #f0f0f0;
}
.searchForm_organic_doc_title_wrapper {
  margin-bottom: 0.65rem;
}
.searchForm_organic_doc_title {
  font-weight: 600;
}
.searchForm_organic_docs#masonry {
  width: 100% !important;
  overflow: auto;
}
.searchForm_organic_docs#masonry .searchForm_organic_doc {
  padding: 1rem;
  margin: 1rem;
  float: left;
  display: inline;
  border: 1px solid #ddd;
}
.searchForm_organic_docs#masonry .searchForm_organic_doc_body {
  word-break: break-all;
}
.searchForm_organic_docs#masonry .searchForm_organic_doc_url {
  word-break: break-all;
  overflow: hidden;
  clear: both;
}
@media (min-width: 640px) {
  .searchForm_organic_doc {
    display: -ms-flexbox;
    display: flex;
  }
  .searchForm_organic_docs#masonry .searchForm_organic_doc {
    width: 30%;
  }
}
.searchForm_organic_doc_img {
  margin: 0 1.5rem 0 0;
}
.searchForm_organic_doc_img img {
  border: 1px solid #ddd;
}
@media (max-width: 639px) {
  .searchForm_organic_doc_img {
    margin-bottom: 1rem;
  }
}
.searchForm_organic_doc_header {
  max-height: 4.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.searchForm_organic_doc_body {
  font-size: 0.85rem;
  line-height: 1.45;
  color: #333;
}
.searchForm_organic_doc_url {
  margin-top: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  font-size: 70%;
}
.searchForm_organic_doc_url:before {
  content: "URL";
  background-color: #111;
  color: #fff;
  font-size: 9px;
  font-family: Arial, sans-serif;
  vertical-align: middle;
  padding: 2px 6px;
  margin-right: 0.5rem;
}
@media (min-width: 1024px) {
  .searchForm_organic_docs#masonry .searchForm_organic_doc {
    width: 22%;
  }
}
.searchForm_organic_pager {
  justify-content: center;
  margin-bottom: 2rem;
}
.searchForm_organic_pager,
.searchForm_pager_items {
  display: -ms-flexbox;
  display: flex;
}
.searchForm_pager_items {
  margin-left: 0;
  padding-left: 0;
}
.searchForm_pager_items li {
  list-style: none;
  margin: 0 0.25rem;
  text-align: center;
}
.searchForm_pager_item_current,
.searchForm_pager_items li a {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  text-decoration: none;
}
.searchForm_pager_items li a {
  color: #eee;
  background-color: #222;
  border-radius: 2px;
}
.searchForm_pager_items .searchForm_pager_item_first a,
.searchForm_pager_items .searchForm_pager_item_next a,
.searchForm_pager_items .searchForm_pager_item_prev a {
  background-color: #666;
  padding-right: 0.5rem;
}
.searchForm_pager_items .searchForm_pager_item_first a span,
.searchForm_pager_items .searchForm_pager_item_next a span,
.searchForm_pager_items .searchForm_pager_item_prev a span {
  display: inline-block;
  width: 0.75rem;
}
.searchForm_pager_items .searchForm_pager_item_first a span:after,
.searchForm_pager_items .searchForm_pager_item_first a span:before,
.searchForm_pager_items .searchForm_pager_item_next a span:after,
.searchForm_pager_items .searchForm_pager_item_next a span:before,
.searchForm_pager_items .searchForm_pager_item_prev a span:after,
.searchForm_pager_items .searchForm_pager_item_prev a span:before {
  font-family: FontAwesome;
}
.searchForm_pager_item_first a span:before {
  content: "\F100";
}
.searchForm_pager_item_prev a span:before {
  content: "\F104";
}
.searchForm_pager_item_next a span:before {
  content: "\F105";
}